<!--/*
=====================================================
; Title: Employee Management System
; Author: Professor Cross
; Date 25 April 2021
; Modified By: Jourdan Neal
; Description: New page for employee management system.
=====================================================
*/
-->
<body>
    <!--Creating container to hold page.-->
    <div role="main" class="container" style="width:auto;">
      <%- include('header'); -%><!--Import the header-->
      <%- include('navbar'); -%><!--Import Navbar-->
    <br>
    <!--Container for main page items.-->
    <div class="container">
  
    <div class="card" style="width:600px;margin-left:23%;display: inline-block;border-width:.50em;">
      <% if (employees.length) { %>
        <h2 class="card-title" style="text-align:center">Welcome to the <%= title %>!</h2>
        <div class="card-content">
        <table style="width:500px; margin-left:25px;" >
          <thead>
            <tr>    
            <th style="background-color:#02475e;color:white; padding:5px;">First Name</th>
            <th style="background-color:#02475e; color:white;">Last Name</th>
            <th style= background-color:#02475e;color:white; padding:5px;></th>
          </tr>
        
        </thead>
        <tbody>
          <% employees.forEach(function (entry) { %>
            <tr>
              <td style="padding:5px"><%= entry.firstName %></td>
              <td style="padding:5px"><%= entry.lastName %></td>
              <td style="padding:5px"><a href="/view/<%= entry.firstName %>">VIEW</a></td>
            </tr>
        </tbody>
        <% }) %>
        </table>
        <% } else { %>
          No entries!
          <br><a href="/new">Add one!</a>
          <% } %>
          <br>
          <br>
          
          <a href="/new"><button class="btn btn-primary" style="background-color:#02475e;border: #02475e; float:right; margin:3px;">Add New</button></a>
        </div>
        
    
   